---
interface Props {
  title: string;
}

const { title } = Astro.props;
// Styles

import "../styles/tailwind-base.scss";
import "../styles/base.scss";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Logistify" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logistify-black.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta http-equiv=”Content-Security-Policy”
content='default-src "self" data: gap: "unsafe-eval" ws: ;
style-src "self" "unsafe-inline";
script-src https: * ;
media-src "none";
font-src *;
connect-src *;
img-src "self" data: content:;'>
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
